$Magnolia: hsl(217, 100%, 97%);

body{
  #root{
    .App {
      .start-border{
        border-top: 3px solid rgba(0, 0, 0, 1);
      }
      .id-cell{
        background-color: darkkhaki;
        text-align: center;
        width: 300px;

        .id-text{
          font-size: 1.2em;
          text-align: center;
          font-weight: 600;
        }

        #hover-text{
          text-decoration: none;
          padding: 12px;
          border-radius: 12px;
          text-align: center;
          display: none;
          position: absolute;
          margin-top: -50px;
          background-color: aliceblue;
          font-weight: 600;
          margin-left: 27px;
          margin-top: -75px;
          box-shadow: 2px 7px 9px rgba(0, 0, 0, 0.2);
        }
        .source-text:hover + #hover-text {
          display: block;
        }
        .source-text:hover{
          cursor: pointer;
          color: blue;
        }

      }
      .verse-cell{
        background-color: antiquewhite;

        .verse-text{
          font-size: 1.2em;
          text-align: center;
          font-weight: 600;
        }
      }
      
      .data-cell{
        background-color: floralwhite;
        .data-text{
          font-size: 1em;
          text-align: center;
          font-weight: 600;
        }
        #hover-text{
          text-decoration: none;
          padding: 12px;
          border-radius: 12px;
          text-align: center;
          display: none;
          position: absolute;
          margin-top: -50px;
          background-color: aliceblue;
          font-weight: 600;
          margin-left: -70%;
          margin-top: -68px;
          box-shadow: 2px 7px 9px rgba(0, 0, 0, 0.2);
        }
        .data-text:hover + #hover-text {
          display: block;
        }
        .data-text:hover{
          cursor: pointer;
          color: blue;
        }
      }
      .wavy-underline{
        text-decoration: underline dashed grey;
        text-underline-offset: 2px;
      }
      #border{
        border-radius: 12px;
        border: black 2px solid;
      }
      .data-table{
        height: auto;
        width: 95%;
        place-content: center;
        align-self: center;
        margin-top: 2%;
        border-radius: 20px;
        padding: 12px;

        &:not(:has(#no-items, #loading)) {
          box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.6);
        }

        #add-btn{
          width: max-content;
          align-self: center;
          padding: 10px 16px;
          background: #FCC47F;
          color: #1A1F3B;
        }
      }
      .table-head{
        font-size: 1.5em;
        font-weight: 600;
        color: grey;
        text-decoration: underline dotted black;
        text-align: center;
      }
    }
  } 
}