# Byte-compiled Python files
*.pyc

# Python cache directories
__pycache__

# Virtual environment directories (if you're using virtual environments)
venv/
.env

# IDE specific files
.vscode/
.idea/

# Logs
*.log

# Dependency management files
pip-wheel-metadata/