$Magnolia: hsl(217, 100%, 97%);
$White: hsl(0, 0%, 100%);
$Cool-gray: hsl(231, 11%, 63%);
$Light-gray: hsl(229, 24%, 87%);
$Alabaster: hsl(231, 100%, 99%);

$Marine-blue: hsl(213, 96%, 18%);
$Purplish-blue: hsl(243, 100%, 62%);
$Pastel-blue: hsl(228, 100%, 84%);
$Light-blue: hsl(206, 94%, 87%);
$Strawberry-red: hsl(354, 84%, 57%);

$desktop-bg: url("../../../../public/assets/images/bg-sidebar-desktop.svg");
$mobile-bg: url('../../../../public/assets/images/bg-sidebar-mobile.svg');

@font-face {
    font-family: ubuntu-bold;
    src: url('../../../../public/assets/fonts/Ubuntu-Bold.ttf');
}
@font-face {
    font-family: ubuntu-medium;
    src: url('../../../../public/assets/fonts/Ubuntu-Medium.ttf');
}
@font-face {
    font-family: ubuntu-regular;
    src: url('../../../../public/assets/fonts/Ubuntu-Regular.ttf');
}

body{
    #root{
        #admin-items{
            margin: 15px;
            height: fit-content;
            width: 90%;
            background: hsl(0, 0%, 100%);
            box-shadow: 2px 2px 50px 20px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 25px;
            display: flex;
            row-gap: 40px;
            flex-flow: column;
            place-items: flex-start;

            .service-link{
                width: 100%;
                text-decoration: none !important;
                .admin-item-card{
                    display: flex;
                    background: linear-gradient(45deg, #fbd07c, #f7f779); 
                    // height: 255px;
                    width: 100%;
                    border-radius: 15px;
                    box-shadow: 2px 7px 9px rgba(0, 0, 0, 0.2);
                    transition: all 0.3s ease;
                    overflow: hidden;
                    flex-direction: row-reverse;
                    padding: 20px;
                    &:hover{
                        transform: scale(1.1);
                    }
    
                    .card-img{
                        display: none;
                        transform: translate(-30px, 6px);
                        height: 140%;
                        width: auto;
                    }
                    .title-cont {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        width: -webkit-fill-available;
                        // margin-right: 12%;
                        z-index: 2;
                        align-self: center;
                        text-align: center;
                    }
            
                    .title {
                        font-size: 1.3em;
                        text-align: center;
                        width: 100%;
                        z-index: 1;
                        font-family: ubuntu-regular;
                    }
                }
            }
        }
    }
}

@media (min-width:760px){
    body{
        #root{
            // div#loading{
            //     width: 260%;
            //     text-align: center;
            //     margin-top: 60px;
            //     margin-bottom: 60px;
            // }
            // div#loading p{
            //     margin: 10px;
            //     text-align: center;
            //     font-size: 2.5em;
            // }
            #admin-items{
                display: grid;
                grid-template-columns: 50% 50%;
                flex-wrap: wrap;
                column-gap: 15px;
                row-gap: 15px;
                .service-link{
                    .admin-item-card{
                        height: 100px;
                        .title-cont{
                            width: 100%;
                            height: 100px;
                        }
                        .title{
                            position: absolute;
                            font-size: 1.7em;
                            z-index: 1;
                            margin: auto auto;
                            text-align: center;
                        }
                        .card-img{
                            display: block;
                            transform: translate(-30px, -10px);
                            height: 120px;
                            width: 120px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1024px){
    body{
        #root{
            #admin-items{
                grid-template-columns: 50% 50%;
                column-gap: 15px;
                row-gap: 15px;
                padding-top: 4%;
                padding-right: 40px;

                .service-link{
                    .admin-item-card{
                        height: 150px;

                        .title {
                            font-size: 2.0em;
                        }

                        .card-img{
                            height: 180px;
                            width: 180px;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width:1320px){
    body{
        #root{
            #admin-items{
                .service-link{
                    .admin-item-card{
                        height: 200px;

                        .title {
                            font-size: 2.5em;
                        }

                        .card-img{
                            height: 220px;
                            width: 220px;
                        }
                    }
                }
            }
        }
    }
}