<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0_9zFuxao067Re-R-qieTrzx02fAV2FM</string>
	<key>GCM_SENDER_ID</key>
	<string>89245412373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.islamxplorer.islamxplorerFlutter.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>islamxplorer</string>
	<key>STORAGE_BUCKET</key>
	<string>islamxplorer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:89245412373:ios:b6bc19137801534b19f21c</string>
</dict>
</plist>